<div class="dialog">
  <div class="dialog__photo">
    <img src="{{dialogAvatar}}" alt="Avatar" />
  </div>
  <div class="dialog__content">
    <div class="dialog__name">{{dialogName}}</div>
    <div class="dialog__text"><span class="dialog__text--you">{{dialogTextYou}}</span>{{dialogText}}</div>
  </div>
  <div class="dialog__info">
    <time class="dialog__time">{{dialogTime}}</time>
    <div class="dialog__msg">{{dialogMsg}}</div>
  </div>
</div>
